{
    "swagger": "2.0",
    "info": {
        "description": "Temenos exhibits modularity in its design approach by dividing the system into smaller, loosely coupled modules. The deposits modules of Retail Modular Banking is an independently deployable piece of software providing solution for specific business area namely retail deposits and retail accounts. This API can be used to create and manage deposits like term deposits using the Arrangement Architecture.",
        "version": "v2.0.0",
        "title": "Retail Modular Banking Deposits Module Deposits"
    },
    "host": "api.server.com",
    "basePath": "/api/v2.0.0/",
    "tags": [
        {
            "name": "RETAIL"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "security": [
        {
            "basicAuth": []
        },
        {
            "apiKey": []
        }
    ],
    "paths": {
        "/holdings/deposits/termDeposits": {
            "post": {
                "tags": [
                    "RETAIL"
                ],
                "summary": "API is used to create new Term Deposits.",
                "description": "API is used to create a term deposit for a single customer or more than one customer(like a joint deposit). The deposit information like term and deposit amount can be input by the user at the time of deposit opening. ",
                "operationId": "createTermDeposits",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "body",
                        "name": "payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TermDeposits"
                        }
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "channelName",
                        "in": "header",
                        "description": "Name of the (digital) channel registered by the Customer",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "createTermDepositsResponse",
                        "schema": {
                            "$ref": "#/definitions/TermDepositsResponse"
                        }
                    },
                    "default": {
                        "description": "ArrangementErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessArrangementErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemArrangementErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/deposits/{depositId}/balances": {
            "get": {
                "tags": [
                    "RETAIL"
                ],
                "summary": "API is used to fetch Deposit balance",
                "description": "API is used to get details of the deposit balances that is available for the deposit arrangement",
                "operationId": "getDepositBalance",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "depositId",
                        "in": "path",
                        "description": "Contains the unique identifier of the deposit contract For example : AA20359S2FKG",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "channelName",
                        "in": "header",
                        "description": "Name of the (digital) channel registered by the Customer",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DepositBalanceResponse",
                        "schema": {
                            "$ref": "#/definitions/DepositBalanceResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        },
        "apiKey": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "TermDeposits": {
            "type": "object",
            "properties": {
                "parties": {
                    "type": "array",
                    "description": "contains the array of customer identifier details for opening the deposit. There can more than one customer information passed to the end point in case of joint deposit or a minor deposit.",
                    "items": {
                        "type": "object",
                        "properties": {
                            "partyId": {
                                "type": "string",
                                "description": "contains the unique customer identifier used in the deposit. The list of the customer identifier can be listed from the endpoint. This is a mandatory field.  When there are more than one customer in the deposit (like a joint relationship), the next partyId is updated as another set of fields in the array with the corresponding partyRole field indicating that respective party's role.",
                                "minLength": 0,
                                "maxLength": 10
                            },
                            "partyRole": {
                                "type": "string",
                                "description": "contains the role of the customer in the associated partyId field.  This is an optional field. For example, owner, joint owner, nominee, guardian etc.",
                               "enum": ["AGENT", "AGENT.CUM.PARTICIPANT", "APPLICANT", "BUYER", "DEALER", "GUARANTOR", "GUARDIAN", "INTERMEDIARY", "INVESTOR", "JOINT.OWNER", "LEGAL.OWNER", "LESSEE", "OWNER", "PARTICIPANT", "PARTNER", "POWER.OF.ATTORNEY", "RISK.PARTICIPANT", "SOLICITOR", "SUB-LESSEE", "SUB-PARTICIPANT", "SUB.PARTICIPANT", "SUPPLIER"],
                                "minLength": 0,
                                "maxLength": 30
                            }
                        }
                    }
                },
                "accountReferences": {
                    "type": "array",
                    "description": "contains the array of the alternate references for the deposit. This is optional array to be used only when alternate identification has to be updated at the time of deposit creation.",
                    "items": {
                        "type": "object",
                        "properties": {
                            "referenceType": {
                                "type": "string",
                                "description": "contains the type of alternate reference that can be updated in the deposit at the time of deposit creation. For example, IBAN, LEGACY type of alternate identifiers can be added",
                                "enum" : ["IBAN","LEGACY","PREV.IBAN","T24.IBAN"],
                                "minLength": 0,
                                "maxLength": 10
                            },
                            "accountReference": {
                                "type": "string",
                                "description": "contains the unique  number that can be updated as an alternate identifier. This field is associated with the referenceType field. For example, the unique identifier for IBAN number or the legacy system can be given here.",
                                "minLength": 0,
                                "maxLength": 36
                            }
                        }
                    }
                },
                "accountName": {
                    "type": "string",
                    "description": "contains the nickname given for the deposit that is being opened. For example : 'MyDepositAccount'.",
                    "minLength": 0,
                    "maxLength": 70
                },
                "openingDate": {
                    "type": "string",
                    "description": "contains the effective date of the deposit creation. This is an optional field. The deposit is usually opened with the current system date but the user can also specify an effective date for deposit creation (like back value dated deposit opening). In such cases, the effective date for deposit creation can be given here in the format yyyymmdd. For example, '20230927'",
                    "minLength": 0,
                    "maxLength": 11
                },
                "productId": {
                    "type": "string",
                    "description": "contains the product in which the deposit must be opened for the customer. The list of the product with its available currency can be listed from the endpoint. This is a mandatory field of the payload to indicate the productID in the system. For example, FixedDeposit",
                    "minLength": 0,
                    "maxLength": 30
                },
                "currency": {
                    "type": "string",
                    "description": "contains the 3 digit ISO currency code that indicates the currency in which the deposit must be opened for the customer. The list of the product in the system with its available currency can be listed from the endpoint. This is a mandatory field of the payload and must contain a valid currency in which the deposit product is sold. For example: USD",
                    "minLength": 0,
                    "maxLength": 3
                },
                "branchCode": {
                    "type": "string",
                    "description": "contains the branch in which the deposit must be opened for the customer. The list of the branches in the system can be listed from the endpoint.  The pricing and other benefits might vary based on the branch of deposit opening for the customer. For example: if the branch code for NewYork Branch is 1510, then the value 1510 must be keyed in here",
                    "minLength": 0,
                    "maxLength": 16
                },
                "quotationReference": {
                    "type": "string",
                    "description": "contains the deposit origination reference from the simulated or origination system. For example, the quotation reference can be like QUOTE123456789",
                    "minLength": 0,
                    "maxLength": 100
                },
                "depositAmount": {
                    "type": "string",
                    "description": "contains the amount for which the deposit must be opened. For example, the amount can be fed as 10000 to create a deposit for 10000. Note the deposit amount is in the currency of the loan. Hence it is not updated explicitly in the payload fields.",
                    "minLength": 0,
                    "maxLength": 100
                },
                "depositTerm": {
                    "type": "string",
                    "description": "contains the term for which the deposit must be opened, the Term can be appended with D,W,M,Y to indicate days, weeks, months and years. For example, if the deposit is must be created for 12 weeks, then 12W can be given here, for a deposit 12 months 12M can be given here.",
                    "minLength": 0,
                    "maxLength": 100
                },
                "interestPayoutOption": {
                    "type": "string",
                    "description": "contains field describes how the interest must be paid to customer. (i) The interest on the deposit can be paid to the customer on maturity or rollover. For this the user must keyin 'Settle at Maturity/Rollover'. (ii) The interest on the deposit can be added to the principal of the deposit on every rollover. For this the user must keyin 'Capitalise at Rollover'. (iii) The interest can be paid to the customer on the frequency specified in the field 'interestPayoutFrequency'. For this the user must keyin 'Settle at Scheduled Frequency'. (iv) The interest can be capitalised to the deposit amount on the frequency specified in the field 'interestPayoutFrequency'. For this the user must keyin 'Capitalise at Scheduled Frequency'. When this field blank, the interest is paid on maturity of the deposit. ",
                    "enum": ["Settle at Maturity/Rollover","Capitalise at Rollover","Settle at Scheduled Frequency","Capitalise at Scheduled Frequency"
                    ],
                    "minLength": 0,
                    "maxLength": 100
                },
                "interestPayoutFrequency": {
                    "type": "string",
                    "description": "contains the frequency in which the deposit interest must be paid out to the customer. The interest payment can be done on monthly, quarterly, semi-annually (half yearly) or annually. Based on the requirement, the user can key in one of the values given here: Monthly,Annually,Semi-Annually,Quarterly. This is an optional field and can be populated only when the interestPayoutOption is Settle in Scheduled Frequency or Captialise in Scheduled Frequency.",
                    "enum" : ["Monthly","Quarterly","Semi-Annually","Annually"],
                    "minLength": 0,
                    "maxLength": 100
                },
                "fundingAccount": {
                    "type": "string",
                    "description": "contains the account from which funds are to be debited for creating the deposit/funding the deposit. For example, the account number can be given as 123456 or an identifier like AA231231234 can be updated",
                    "minLength": 0,
                    "maxLength": 100
                },
                "payoutAccount": {
                    "type": "string",
                    "description": "contains the account to which the deposit proceeds namely the interest, principal are to be paid to. For example, the account number can be given as 123456 or an identifier like AA231231234 can be updated",
                    "minLength": 0,
                    "maxLength": 100
                }
            }
        },
        "DepositBalanceResponse": {
            "type": "object",
            "properties": {
                "accountReference": {
                    "type": "string",
                    "description": "contains the deposit arrangement number for which the balances are given by the system. For example, D123456789"
                },
                "accountName": {
                    "type": "string",
                    "description": "contains the nickname given by the customer for the Deposit arrangement. For example : 'John Doe Fixed Deposit'. "
                },
                "productId": {
                    "type": "string",
                    "description": "contains the deposit product name of the arrangement ID displayed. For example: FixedDepositPlus"
                },
                "currency": {
                    "type": "string",
                    "description": "contains the currency in which the deposit is created for the customer. For example: USD"
                },
                "depositBalance": {
                    "type": "string",
                    "description": "gives the deposit principal amount"
                },
                "accruedInterest": {
                    "type": "string",
                    "description": "gives the interest accrued till date in the deposit "
                }
            },
            "description": "DepositBalanceResponse"
        },
        "ArrangementHeader": {
            "properties": {
                "transactionStatus": {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "status": {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                }
            }
        },
        "TermDepositsResponse": {
            "type": "object",
            "properties": {
                "accountReference": {
                    "type": "string",
                    "description": "Account Reference of the error account",
                    "minLength": 0,
                    "maxLength": 36
                }
            }
        },
        "ArrangementErrorResponse": {
            "properties": {
                "error": {
                    "type": "array",
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody": {
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "The identifier of the error message"
                    },
                    "message": {
                        "type": "string",
                        "description": "The actual Transact error message "
                    },
                    "property": {
                        "type": "string",
                        "description": "Id of the product property"
                    }
                }
            }
        },
        "BusinessArrangementErrorResponse": {
            "properties": {
                "error": {
                    "type": "array",
                    "$ref": "#/definitions/BusinessArrangementErrorResponseBody"
                }
            },
            "description": "BusinessArrangementErrorResponse"
        },
        "BusinessArrangementErrorResponseBody": {
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "The identifier of the error message"
                    },
                    "message": {
                        "type": "string",
                        "description": "The actual Transact error message for bad requests"
                    },
                    "property": {
                        "type": "string",
                        "description": "Id of the product property"
                    }
                }
            }
        },
        "SystemArrangementErrorResponse": {
            "properties": {
                "error": {
                    "type": "array",
                    "$ref": "#/definitions/SystemArrangementErrorResponseBody"
                }
            },
            "description": "SystemArrangementErrorResponse"
        },
        "SystemArrangementErrorResponseBody": {
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "The identifier of the error message"
                    },
                    "message": {
                        "type": "string",
                        "description": "The actual Transact error message caused by server"
                    },
                    "property": {
                        "type": "string",
                        "description": "Id of the product property"
                    }
                }
            }
        },
        "QueryErrorResponse": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual Transact error message "
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual Transact error message for bad requests"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual Transact error message caused by server"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        }
    }
}